.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    
}

.gallery-item {
    list-style: none;
    height: 100%;
}

.gallery-image {
    width: 300px;
    transition: transform .2s;
}

.gallery-image:hover, 
.gallery-image:focus {
transform: scale(1.1)
}
.back{
    font-size: 28px;
}